/node_modules
/public/hot
/public/storage
/public/css/
/public/dt-1.10.15/
/public/font-awesome-4.7.0/
/public/img/
/public/js/
/public/mix-manifest.json
/public/select2-dist/
/sail-mysql
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
